* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    background-color: rgb(82, 143, 200);
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pomodoro__title {
    font-size: 4rem;
    margin: 50px;
    color: white;
}
.timer {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    color: rgb(255, 131, 131);
}
.btn {
    text-align: center;
}
.timer__btn, .stop__btn {
    margin-top: 50px;
    border: 3px solid rgb(255, 131, 131);
    color: white;
    padding: 15px 30px;
    font-size: 2rem;
    background-color: rgb(82, 143, 200);
    border-radius: 3px;
}
.stop__btn {
    margin-left: 20px;
}

.timer__btn:hover, .stop__btn:hover {
    background-color: rgb(255, 131, 131);
    border: 3px solid rgb(255, 131, 131);
}

@media screen and (max-width: 800px) {
    .pomodoro__title {
        font-size: 3rem;
    }
    .timer {
        font-size: 5rem;
    }
    .timer__btn, .stop__btn {
        font-size: 1rem;
    }
    @media screen and (max-width: 550px) {
        html {
            height: -webkit-fill-available;
        }
        body {
            height: 100vw;
            min-height: -webkit-fill-available;
        }
    }
}